header, footer, nav{
    background-color: rgb(51,102,153);
    color: white;
}
nav a{
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}
header{
    padding-top: 30px;
    padding-bottom: 30px;
}
header img {
    height: 75px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.heroCard{
    height: auto;
    width: 100%;
}
h1 {
    position: absolute;
    left: 30%;
    top: 15%;
    font-size: 3vw;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
h2{
    text-align: center;
    padding: 25px;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    margin-bottom: 150px;
}
footer {
    position: fixed; /*fixes the footer to the bottom of the viewbox source: https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}
footer a {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
} 
.galleryContainer {
    display: flex;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;

}
.galleryImg {
    height: 200px;
    padding-right: 15px;
    padding-left: 15px;
}
table {
    font-size: 20px;
    width: 70%;
    text-align: center;
    position: relative;
    left: 15%;
}
table tr td {
    padding: 10px
}
table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tableGreen {
    background-color: lightgreen;
}
.tableRed {
    background-color: lightcoral;
}
.tableBlue {
    background-color: lightskyblue;
}
.tableOrange {
    background-color: lightsalmon;
}
section {
    margin: 40px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(51,102,153);
}
section img {
    height: 300px;
    float: left;
    padding-right: 20px;
}
#contact{
    text-align: center;
}
.clearfix {
    overflow: auto;
}
.backBtn{
    padding-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}